<!--The content below is only a placeholder and can be replaced.-->
<div id="topBar" class="col-12 bg-rust p-4 font-size-xl mb-3">
  <h1>BDS</h1>
</div>
<div id="container" class="text-center">
  <div id="upload-container" class="mb-3">
    <input type="text" class="mr-2">
    <button class="btn btn-primary">Upload Document</button>
  </div>
  <button class="btn btn-info">List All Documents</button>
  <div id="documentList">
    <ul>
      <li>doc 1</li>
      <li>doc 2</li>
      <li>doc 3</li>
      <li>doc 4</li>
      <li>doc 5</li>
    </ul>
  </div>
</div>